@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #212121;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 60px;
    margin-bottom: 30px;
}

.ticTac{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-radius: 5px;
    border: #212121;
    color: black;
    background-color: #fff;
    width: 100px;
    height: 100px;
}

.winnerClass{
    background-color: rgb(81, 186, 81);
}

#rstbtn{
    width: 150px;
    font-size: 30px;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}