*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #212121;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ticTac{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-radius: 5px;
    border: #212121;
    color: black;
    background-color: #fff;
    width: 100px;
    height: 100px;
}